{% extends 'tournament/base.html' %}
{% load static %}

{% block content %}
   <div id="rules" class="section-content active">
                        <h2>Official Tournament Regulations</h2>
                        <div class="rules-container">
                            <div class="rule">
                                <h3>Competition Guidelines</h3>
                                <ul>
                                    <li>Mandatory registration 24 hours prior to tournament start</li>
                                    <li>Participants must be 16 years or older</li>
                                    <li>Zero tolerance for cheating</li>
                                    <li>Tournament officials have final decision-making authority</li>
                                </ul>
                            </div>
                            <div class="rule">
                                <h3>Technical Requirements</h3>
                                <ul>
                                    <li>Official registered account usage only</li>
                                    <li>Mandatory Discord voice communication</li>
                                    <li>Latest game version required</li>
                                </ul>
                            </div>
                        </div>
                    </div>
{% endblock content %}
                    
                    
                      
                    
